.Pokemon {
  flex-basis: 40%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
}

.PokeInfo {
  font-size: 1.3em;
}

.PokeImage img{
  width: 100%;
}

.PokeImage {
  width: 40%;
}