.btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
}

.btn-container {
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}

.resumoDoForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding: 15px;
}

.resumoSpan {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.resumo-container {
  border: 1px solid black;
  width:fit-content;
  margin: auto;
}